@import "@neiforfaen/ui/globals.css";

@keyframes fadeBlur {
	0% {
		filter: blur(10px);
		opacity: 0;
	}
	100% {
		filter: blur(0px);
		opacity: 1;
	}
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}
